# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Cypress artefatos
cypress/videos/
cypress/screenshots/
cypress/reports/

# Mochawesome reports
mochawesome-report/

# Sistema
.DS_Store
Thumbs.db
